body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*body {
    background: yellow !important;
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
.body-content input,
.body-content select,
.body-content textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* styles for the calendar */
#calendar {
    max-width: 900px;
    margin: 40px auto;
}
#container_novoevento {
    display: flex;
    flex-direction: row;
    gap: 40px; /* Espaço entre formulário e calendário */
}

#esq {
    flex: 1 1 300px;
    max-width: 400px;
}

#dir {
    flex: 2 1 0;
    min-width: 400px;
}

.fc-event, .fc-event:hover {
    cursor: pointer;
}